.works 
	.container 
		.works-grid 
			h5.works__title Наши работы
			#carouselExample.carousel.slide(data-bs-interval="5000")
				.carousel-inner
					.carousel-item.active
						img.works__content-logo(src=require("../images/alibaba.png?as=webp"), alt="")
						p.works__content-text Самая крупная в Финляндии компания по обработке камня и крупнейший в мире производитель тепло аккумулирующих печей каминов текст пример
						.works__resulte 
							p.works__resulte-title Результат:
							.works__resulte-wrap 
								.works__resulte-content 
									span + 85,71%
									p увеличение количества обращений с рекламы
								.works__resulte-content 
									span.works__resulte-percent + 83,51%
									p.works__resulte-text увеличение конверсии
								.works__resulte-content 
									span.works__resulte-percent - 50,51%
									p.works__resulte-text снижение стоимости за обращение
						.works__system 
							p.works__system-title Системы:
							.works__system-wrap 
								img.works__img(src=require("../images/google.png?as=webp"), alt="")
								img.works__img(src=require("../images/yandex.png?as=webp"), alt="")
					.carousel-item
						img.works__content-logo(src=require("../images/macys.png?as=webp"), alt="")
						p.works__content-text Самая крупная в Финляндии компания по обработке камня и крупнейший в мире производитель тепло аккумулирующих печей каминов текст пример
						.works__resulte 
							p.works__resulte-title Результат:
							.works__resulte-wrap 
								.works__resulte-content 
									span + 85,71%
									p увеличение количества обращений с рекламы
								.works__resulte-content 
									span.works__resulte-percent + 83,51%
									p.works__resulte-text увеличение конверсии
								.works__resulte-content 
									span.works__resulte-percent - 50,51%
									p.works__resulte-text снижение стоимости за обращение
						.works__system 
							p.works__system-title Системы:
							.works__system-wrap 
								img.works__img(src=require("../images/google.png?as=webp"), alt="")
								img.works__img(src=require("../images/yandex.png?as=webp"), alt="")
				button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.visually-hidden &Pcy;&rcy;&iecy;&dcy;&ycy;&dcy;&ucy;&shchcy;&icy;&jcy;
				button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.visually-hidden &Scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&jcy;
